{% extends 'base_logged.html' %}
{% block title %}Professor{% endblock %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
        <div class="body">
            <div class="adless">
                <div class="perfil">    
                    <ul>
                        <li>Nome do professor: {{ user.nome }}</li>
                        <li>RA do professor: {{ user.ra }}</li>
                    </ul>
                    <div>
                        <p>Turmas:</p>
                        <ul>
                            {% for turma in turmas %}
                                <li>{{ turma }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div>
                        <p><a href="{% url 'cadastro_avaliacao' %}">Cadastrar Avaliações</a></p>
                    </div>
                </div>
                <div class="content">
                    <div>
                        <i class="fa fa-exclamation"></i><h2>Avisos:</h2>
                        <div class="aviso">
                            <p>Data: 15/11/2017 |</p>
                            <p>Título do aviso!</p>
                        </div>
                    </div>
                </div>
                <div class="content">
                        <div>
                            <i class="fa fa-pencil-square-o"></i><h2>Cadastrar avisos:</h2>
                            {{ form.non_field_errors }}
                            <form name="aviso" id="aviso" method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                                {{ field.error }}
                                <label for="{{ field.name }}" class="label-style-cadastro">{{ field.label_tag }}</label>
                                {{ field|attr:"class:input"}}
                                {% if field.help_text %}
                                    <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            {% endfor %}
                                <button type="submit">Avisar!</button>
                            </form>
                        </div>
                    </div>
                <div class="content">
                    <div>
                        <i class="fa fa-info-circle"></i><h2>Entregas recebidas:</h2>
                        {% for resposta in respostas %}
                            {% if resposta.id_resposta.id_questao.id_turma in turmas %}
                                <ul>
                                    <li class="entregar">{{ resposta.id_resposta.id_questao.id_disciplina }}:
                                        <ul>
                                            <li>Turma: {{ resposta.id_resposta.id_questao.id_disciplina }}</li>
                                            <li>R.A.:{{ resposta.id_resposta.id_aluno }}</li>
                                            <li>Nota: {{ resposta.id_resposta.nota }}</li>
                                        </ul>
                                    </li>                       
                                </ul>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
{% endblock %}