{% extends 'base.html' %}
{% block title %}Aluno{% endblock %}
{% block content %}
{% load static %}
        <div class="body">
            <div class="adless">
                <div class="perfil">   
                    <ul>
                        <li>Nome do aluno: {{ user.nome }}</li>
                        <li>RA do aluno: {{ user.ra }}</li>
                        <li>Curso do aluno: {{ curso }}</li>
                    </ul>
                    <div>
                        <p>Disciplinas disponíveis para matrícula:</p>
                        <ul>
                            {% for disciplina in disciplinasOfertadas %}
                                {% if disciplina not in lista_disciplinas %}
                                    <li><a href="disciplina/{{disciplina.id_disciplina.slug}}">{{ disciplina.id_disciplina }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <p>Disciplinas matriculadas:</p>
                        <ul>
                            {% for disciplina in disciplinas_matriculadas %}
                                <li><a href="disciplina/{{disciplina.id_disciplina.id_disciplina.slug}}">{{ disciplina.id_disciplina.id_disciplina }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <br>
                <div class="content">
                    <div>
                        <i class="fa fa-exclamation"></i><h2>Avisos:</h2>
                        {% for aviso in lista_avisos %}
                            <div class="aviso">
                                <p>{{ aviso.data }} - {{ aviso.id_professor}}</p>
                                <p>{{ aviso.descricao }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="content">
                    <div>
                        <i class="fa fa-info-circle"></i><h2>Entregas pendentes:</h2>
                        <table style="width:100%">
                            <tr>
                                <th>Turma</th>
                                <th>Quetionario</th>
                                <th>Resposta</th>
                            </tr>
                            {% for questao in arquivos_questoes %}
                                {% if questao.id_questao.id_turma in lista_turmas %}
                                    <tr>
                                        <td>{{ questao.id_questao.id_disciplina }}</td>
                                        <td><a href="{% static questao.arquivo %}"> Download </a></td>
                                        <td><a href="{% url 'cadastro_resposta' %}"> Responder </a></td>                  
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
{% endblock %}